
html {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

p{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
}

div{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em; 
    max-width: 100vw;
    row-gap: 2px;
    flex-direction: column;
    display: flex;
}

div p{
    font-size: 1em;
}

.label{
    display: inline-block;
    padding: 10px !important;
    width: 100px;
}

.full{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.top{
    align-items: start;
}

.half{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.full img{
    max-width: 100%;
}

.xs-show{
    display: none;
}

@media(max-width: 414px){
    .full{
        flex-direction: column;
    }
    .xs-reverse{
        flex-direction: column-reverse;
    }
    .xs-contain{
        object-fit: contain !important;
    }
    .xs-hide{
        display: none;
    }
    .xs-show{
        display: block;
    }
}


.bg_subtitle{
    margin-top: -100vh;   
}

.relative{
    position: relative;
}

.bg{
    overflow: hidden;
}

.bg img, .bg iframe{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
}


.xs{
    font-weight: 200;
    font-size: 18px;
}


.m{
    font-weight: 500;
}

.xl{
    font-weight: 900;
}

.c-scroll-rotate {
    transform: rotate(2turn) !important;
    transition: transform 0.75s cubic-bezier(0.38, 0.005, 0.215, 1);
}

.fadeout {
    opacity: 0 !important;
    transition: opacity 3s;
}

.bg_color_black{
    background-color: black;
    color: white;
    padding: 1.5em;
    z-index: 2;
    box-sizing: border-box;
}

.bg_color_black_op{
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 1.5em;
    z-index: 2;
}

.bg_color_white{
    background-color: white;
    color: black;
    padding: 1.5em;
    z-index: 2;
    box-sizing: border-box;
    border: 2px black solid;
}

.bg_color_blue{
    background-color:#193d5a;
    color: white;
    padding: 1.5em;
    z-index: 2;
}


.bouble{
    border-radius: 50%;
    display: inline-block;
}